<!DOCTYPE html>
<html>
<head>
  <title>Font Converter</title>
  <link rel="stylesheet" type="text/css" href="../static/index.css">
</head>
<body>
  <div class="navbar">
    <a class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></a>
    <a class="nav-link" href="#">About</a>
    <a class="nav-link" href="#">Contact</a>
  </div>

 <div class="welcome-container">
  <div class="welcome"> <span class="highlight">Welcome to Text Editor</span></div>
</div>


  <div class="cloud">
    <h1 >English Font Changer</h1>
    <button onclick="location.href='english'">English Text Editor</button>
  </div>

  <div class="cloud">
    <h2 >Nepali Font Changer</h2>
    <button onclick="location.href='nepali'">Nepali Text Editor</button>
  </div>

  <div class="cloud">
    <h3 >Image In Text</h3>
    <button onclick="location.href='text_in_image'">Text In Image</button>
  </div>
</body>

</html>